h1{
    font-family: cursive;
    color:aqua;
    background-color: black;
    text-align: left;
    margin: 3px;
    padding: 5px;
    }
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h2{
    color:white;
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-weight: 50;
    margin: 3px;
    padding: 5px;
    }
h3{
    color:black;
    background-color: skyblue;
    text-align: right;
    text-decoration:underline;
    font-weight: normal;
    margin: 3px;
    padding: 5px;
}